{
  "plugins": [["import", [
   {
    "libraryName": "antd",
    "style": true,
    "libraryDirectory": "es",
  },
  {
    "libraryName": "ant-design-pro",
    "style": true,
    "libraryDirectory": "es",
  }]]
}
