.OAuthIcon a
{
  margin-right: 5px;
  color: gray;
  cursor: pointer;
}

.facebook a:hover
{
  color: #4267b2;
}

.github a:hover
{
  color: #000;
}

.google a:hover
{
  color: #df5138;
}

.twitter a:hover
{
  color:#2fc2ef
}
