.baseView {
  display: flex;
  padding-top: 12px;
}

.baseView .left {
  max-width: 448px;
  min-width: 224px;
}

.baseView .right {
  flex: 1;
  padding-left: 104px;
}

.baseView .right .avatar_title {
    height: 22px;
    font-size: @font-size-base;
    color: @heading-color;
    line-height: 22px;
    margin-bottom: 8px;
  }

.baseView .right .avatar {
    width: 144px;
    height: 144px;
    margin-bottom: 12px;
    overflow: hidden;
}

.baseView .avatar img {
  width: 100%;
}

.baseView .right  .button_view {
  width: 144px;
  text-align: center;
}

@media screen and (max-width: @screen-xl) {
  .baseView {
    /*flex-direction: column-reverse;*/

    .right {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      .avatar_title {
        display: none;
      }
    }
  }
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}

.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 0%;
  margin-top: 10px;
  text-align: center;
}

.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

/* ------------------------------------------------- */
.ProfileTitleContainer, .AvatarArea, .UploadAvatar
{
  margin-bottom: 50px;
  text-align: center;
}

.ProfileTitleHeading
{
  display: inline;
  margin-right: 12px;
  word-wrap: break-word;
  font-size: 28px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
}
